<header id="rs-header" class="rs-header style3 modify1 header-transparent">
    <!-- Menu Start -->
    <div class="menu-area menu-sticky">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2">
                   <div class="logo-part">
                       <a href="index.html"><img src="../../assets/images/logo-dark.png" alt=""></a>
                   </div>
                   <div class="mobile-menu">
                       <a href="#" class="rs-menu-toggle rs-menu-toggle-close secondary">
                           <i class="fa fa-bars"></i>
                       </a>
                   </div>
                </div>
                <div class="col-lg-10 text-right">
                    <div class="rs-menu-area">
                        <div class="main-menu">
                            <nav class="rs-menu pr-86 md-pr-0">
                                <ul id="onepage-menu" class="nav-menu">
                                    <li> <a href="#rs-header">Home</a></li>
                                    <li><a href="#rs-about">About</a></li>
                                    <li><a href="#rs-services">Services</a></li>
                                    <li><a href="#rs-team">Team</a></li>
                                    <li><a href="#rs-sign in">Sign in</a></li>
                                    <li><a href="#rs-contact">Contact</a></li>
                                </ul> <!-- //.nav-menu -->
                            </nav>                                         
                        </div> <!-- //.main-menu -->
                        <!-- <div class="expand-btn-inner search-icon hidden-md">
                            <ul>
                                <li class="sidebarmenu-search">
                                    <a class="hidden-xs rs-search" data-bs-toggle="modal" data-bs-target="#searchModal" href="#">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li>
                                <li>
                                    <a id="nav-expander" class="humburger nav-expander" href="#">
                                        <span class="dot1"></span>
                                        <span class="dot2"></span>
                                        <span class="dot3"></span>
                                        <span class="dot4"></span>      
                                        <span class="dot5"></span>
                                        <span class="dot6"></span>
                                        <span class="dot7"></span>
                                        <span class="dot8"></span>
                                        <span class="dot9"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>                                 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu End -->
</header>