<head>
    <link rel="stylesheet" href="about.component.css">
  </head>
<div id="rs-about" class="rs-about style2 modify2 gray-color pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 md-mb-50">
                <div class="sec-title mb-30">
                    <div class="sub-text style4-bg">About Us</div>
                    <h2 class="title pb-20">
                        How it works ?
                    </h2>
                    <div class="desc">
                        This solution uses next-generation connectivity allowing continuous tracking of your cargo anywhere and anytime. With an intuitive portal interface, you can perform effective analysis and easily configure custom alerts and notifications.
                    </div>
                </div>
                <!-- Skillbar Section Start -->
               <div class="rs-skillbar style1 home4">
                   <div class="cl-skill-bar">
                  
                      <div class="btn-part mt-45">
                          <a class="readon started" href="#">Get Started</a>
                      </div>
                  </div>
               </div>
               <!-- Skillbar Section End -->
            </div>
            <div class="col-lg-6 pl-65 md-pl-15">
                <div class="about-img">
                   <img src="../../assets/images/about/Sans titre (70 × 70 px) (7).png" alt=""> 
                </div>
            </div>
        </div>
    </div>
</div>