<div class="offwrap"></div>
        
<!--Preloader area start here-->
<div id="loader" class="loader">
    <div class="loader-container"></div>
</div>
<!--Preloader area End here--> 

<!-- Main content Start -->
<div class="main-content">
    
    <!--Full width header Start-->
    <div class="full-width-header">
        <!--Header Start-->
        <app-header></app-header>
        <!--Header End-->
        <!-- Canvas Menu start -->
        <!-- <nav class="right_menu_togle hidden-md">
            <div class="close-btn">
                <div class="nav-link">
                    <a id="nav-close" class="humburger nav-expander" href="#">
                        <span class="dot1"></span>
                        <span class="dot2"></span>
                        <span class="dot3"></span>
                        <span class="dot4"></span>
                        <span class="dot5"></span>
                        <span class="dot6"></span>
                        <span class="dot7"></span>
                        <span class="dot8"></span>
                        <span class="dot9"></span>
                    </a>
                </div>
            </div>
            <div class="canvas-logo">
                <a href="index.html"><img src="../../assets/images/logo-dark.png" alt="logo"></a>
            </div>
            <div class="offcanvas-text">
                <p>Braintech quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus, in porttitor theo lacus egestas etiusto odio data center.</p>
            </div>
            <div class="canvas-contact">
                  <div class="address-area">
                      <div class="address-list">
                          <div class="info-icon">
                              <i class="flaticon-location"></i>
                          </div>
                          <div class="info-content">
                              <h4 class="title">Address</h4>
                              <em>05 kandi BR. New York</em>
                          </div>
                      </div>
                      <div class="address-list">
                          <div class="info-icon">
                              <i class="flaticon-email"></i>
                          </div>
                          <div class="info-content">
                              <h4 class="title">Email</h4>
                              <em><a href="mailto:support@rstheme.com">support@rstheme.com</a></em>
                          </div>
                      </div>
                      <div class="address-list">
                          <div class="info-icon">
                              <i class="flaticon-call"></i>
                          </div>
                          <div class="info-content">
                              <h4 class="title">Phone</h4>
                              <em>+019988772</em>
                          </div>
                      </div>
                  </div>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </nav> -->
        <!-- Canvas Menu end -->
    </div>
    <!--Full width header End-->
 
    <!-- Banner Section Start -->
    <app-home></app-home>
    <!-- Banner Section End -->

    <!-- Services Section Start -->
   <app-services></app-services>
    <!-- Services Section End -->

    <!-- About Section Start -->
   <app-about></app-about>
    <!-- About Section End -->



    <!-- Technology Section Start -->
    <div class="rs-technology gray-color pt-120 pb-120 md-pt-80 md-pb-80">
        <div class="container">
            <div class="sec-title2 text-center mb-45">
                <span class="sub-text gold-color">Technology Index</span>
                <h2 class="title title2">
                   What Technology We Are Using For Our Valued Customers
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                   <div class="technology-item">
                       <a href="#">
                           <div class="logo-img">
                               <img src="../assets/images/technology/style2/AVF.png" alt="">
                           </div>
                       </a>
                   </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                   <div class="technology-item">
                       <a href="#">
                           <div class="logo-img">
                               <img src="../assets/images/technology/style2/Sans titre (70 × 70 px) (4).png" alt="">
                           </div>
                       </a>
                   </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                   <div class="technology-item">
                       <a href="#">
                           <div class="logo-img">
                               <img src="../assets/images/technology/style2/Sans titre (70 × 70 px) (5).png" alt="">
                           </div>
                       </a>
                   </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                   <div class="technology-item">
                       <a href="#">
                           <div class="logo-img">
                               <img src="../assets/images/technology/style2/8.png" alt="">
                           </div>
                       </a>
                   </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                   <div class="technology-item">
                       <a href="#">
                           <div class="logo-img">
                               <img src="../assets/images/technology/style2/17.png" alt="">
                           </div>
                       </a>
                   </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="technology-item">
                        <a href="#">
                            <div class="logo-img">
                                <img src="../assets/images/technology/style2/Sans titre (70 × 70 px) (2).png" alt="">
                            </div>
                        </a>
                    </div>
                 </div>
            <div class="col-lg-12 text-center">
                <div class="btn-part mt-30">
                    <a class="readon started" href="#">Get Started</a>
                </div>
            </div>
        </div>  
    </div>
    <!-- Technology Section End -->

    <!-- Services Section Start -->
    <app-services2></app-services2>
    <!-- Services Section End -->



    <!-- Team Section Start -->
  <app-team></app-team>

    <!-- Team Section End -->



    <!-- Testimonial Section Start -->
    <div class="rs-testimonial main-home style4 modify1 pt-120 pb-120 md-pt-80 md-pb-80">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="testi-img">
                       <img src="../../assets/images/testimonial/testimonial-3.png" alt=""> 
                    </div>
                </div>
                <div class="col-lg-6 md-pt-50 modify-gap">
                    <div class="sec-title mb-50">
                        <div class="sub-text style4-bg left testi">Testimonials</div>
                        <h2 class="title pb-20">
                            What Customer Saying
                        </h2>
                        <div class="desc">
                           Over 25 years working in IT services developing software applications and mobile apps for clients all over the world.
                        </div>
                    </div>
                   <div class="rs-carousel owl-carousel" 
                        data-loop="true" 
                        data-items="1" 
                        data-margin="30" 
                        data-autoplay="true" 
                        data-hoverpause="true" 
                        data-autoplay-timeout="5000" 
                        data-smart-speed="800" 
                        data-dots="true" 
                        data-nav="false" 
                        data-nav-speed="false" 

                        data-md-device="1" 
                        data-md-device-nav="false" 
                        data-md-device-dots="false" 
                        data-center-mode="false"

                        data-ipad-device2="1" 
                        data-ipad-device-nav2="false" 
                        data-ipad-device-dots2="false"

                        data-ipad-device="1" 
                        data-ipad-device-nav="false" 
                        data-ipad-device-dots="true" 

                        data-mobile-device="1" 
                        data-mobile-device-nav="false" 
                        data-mobile-device-dots="false">
                        <div class="testi-item">
                            <div class="author-desc">           
                                <div class="desc"><img class="quote" src="../../assets/images/testimonial/main-home/quote2.png" alt="">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway.</div>
                            </div>
                            <div class="testimonial-content">
                                <div class="author-img">
                                    <img src="../../assets/images/testimonial/main-home/1.jpg" alt="">
                                </div>
                                <div class="author-part">
                                    <a class="name" href="#">Mariya Khan</a>
                                    <span class="designation">CEO, Brick Consulting</span>
                                </div>
                            </div>
                        </div>
                        <div class="testi-item">
                            <div class="author-desc">           
                                <div class="desc"><img class="quote" src="../../assets/images/testimonial/main-home/quote2.png" alt="">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway.</div>
                            </div>
                            <div class="testimonial-content">
                                <div class="author-img">
                                    <img src="../../assets/images/testimonial/main-home/2.jpg" alt="">
                                </div>
                                <div class="author-part">
                                    <a class="name" href="#">Sonia Akther</a>
                                    <span class="designation">CEO, Keen IT Solution</span>
                                </div>
                            </div>
                        </div>
                        <div class="testi-item">
                            <div class="author-desc">           
                                <div class="desc"><img class="quote" src="../../assets/images/testimonial/main-home/quote2.png" alt="">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway.</div>
                            </div>
                            <div class="testimonial-content">
                                <div class="author-img">
                                    <img src="../../assets/images/testimonial/main-home/3.jpg" alt="">
                                </div>
                                <div class="author-part">
                                    <a class="name" href="#">Felando</a>
                                    <span class="designation">Web Developer</span>
                                </div>
                            </div>
                        </div>
                        <div class="testi-item">
                            <div class="author-desc">           
                                <div class="desc"><img class="quote" src="../../assets/images/testimonial/main-home/quote2.png" alt="">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway.</div>
                            </div>
                            <div class="testimonial-content">
                                <div class="author-img">
                                    <img src="../../assets/images/testimonial/main-home/4.jpg" alt="">
                                </div>
                                <div class="author-part">
                                    <a class="name" href="#">Neymar Vuya</a>
                                    <span class="designation">Arist</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial Section End -->

    <!-- Contact Section Start -->
    <app-contact></app-contact>
    <!-- Contact Section Start -->
    
    <!-- Partner Start -->
    <app-partner></app-partner>
    <!-- Partner End -->

</div> 
<!-- Main content End -->

<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
               
              
                <div class="col-lg-3 col-md-12 col-sm-12 md-mb-30">
                    <h3 class="widget-title">Contact Info</h3>
                    <ul class="address-widget">
                        <li>
                            <i class="flaticon-location"></i>
                            <div class="desc"> 15 Road Mimosas Rades meliane</div>
                        </li>
                        <li>
                            <i class="flaticon-call"></i>
                            <div class="desc">
                               <a href="tel:(+216)21463956">(+216)21463956</a>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <div class="desc">
                                <a href="jaouadirayen2006@gmail.com">jaouadirayen2006@gmail.com</a>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-clock-1"></i>
                            <div class="desc">
                                Opening Hours: 10:00 - 18:00   
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">                    
            <div class="row y-middle">
                <div class="col-lg-6 text-right md-mb-10 order-last">
                    <ul class="copy-right-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                
                </div>
                
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- start scrollUp  -->
<div id="scrollUp" class="orange-color">
    <i class="fa fa-angle-up"></i>
</div>
<!-- End scrollUp  -->

<!-- Search Modal Start -->
<div class="modal fade search-modal" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <button type="button" class="close" data-bs-dismiss="modal">
        <span class="flaticon-cross"></span>
    </button>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="search-block clearfix">
                <form>
                    <div class="form-group">
                        <input class="form-control" placeholder="Search Here..." type="text">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
