<div id="rs-services" class="rs-services style3 modify1 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title2 text-center mb-45">
            <span class="sub-text gold-color">Services</span>
            <h2 class="title title2">
               Explore Our All Services We Offer to customers
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-30">
               <div class="services-item pink-light-bg">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="../../assets/images/services/style3/main-img/Sans titre.png" alt="">
                           <img class="hover-img" src="../../assets/images/services/style3/hover-img/Sans titre (1).png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="web-blog-details.html">Temperature fluctuations</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                            We monitor and record the temperature inside a container and notify users whenever the temperature surpasses a pre-defined threshold.
                           </p>
                       </div>
                      
                   </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
               <div class="services-item blue2-bg">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="../../assets/images/services/style3/main-img/Sans titre (2).png" alt="">
                           <img class="hover-img" src="../../assets/images/services/style3/hover-img/Sans titre (3).png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="web-blog-details.html">Intrusion detection</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                           
By monitoring unknown intrusions, we place a water detection system to avoid all possible dangers.
                           </p>
                       </div>
                      
                   </div>
               </div>  
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
               <div class="services-item paste2-bg">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="../../assets/images/services/style3/main-img/Sans titre (70 × 70 px).png" alt="">
                           <img class="hover-img" src="../../assets/images/services/style3/hover-img/Sans titre (70 × 70 px) (1).png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="web-blog-details.html">Shock detection</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                            By tracking and recording all shock events during the journey of a product, quality issues can be accounted for and claim management becomes easier.
                           </p>
                       </div>
           
                   </div>
               </div>  
            </div>
            <div class="col-lg-4 col-md-6 md-mb-30">
               <div class="services-item purple2-bg">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="../../assets/images/services/style3/main-img/Sans titre (4).png" alt="">
                           <img class="hover-img" src="../../assets/images/services/style3/hover-img/Sans titre (5).png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="web-blog-details.html">Humidity fluctuations</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                            We monitor and record the humidity inside a container and notify users whenever the humidity level surpasses the pre-defined threshold.
                           </p>
                       </div>
                       
                   </div>
               </div>  
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-30">
               <div class="services-item cyan2-bg">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="../../assets/images/services/style3/main-img/Sans titre (8).png" alt="">
                           <img class="hover-img" src="../../assets/images/services/style3/hover-img/Sans titre (9).png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="web-blog-details.html">Geo location</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                            We track the location of air, sea, road and rail shipments. This lowers security risks as well as it enables organisations to reduce lead times.
                       </div>
                    
                   </div>
               </div>  
            </div>
            <div class="col-lg-4 col-md-6">
               <div class="services-item pink2-bg">
                   <div class="services-icon">
                       <div class="image-part">
                           <img class="main-img" src="../../assets/images/services/style3/main-img/Sans titre (70 × 70 px) (2).png" alt="">
                           <img class="hover-img" src="../../assets/images/services/style3/hover-img/Sans titre (70 × 70 px) (3).png" alt="">
                       </div>
                   </div>
                   <div class="services-content">
                       <div class="services-text">
                           <h3 class="title"><a href="web-blog-details.html">Fire detection</a></h3>
                       </div>
                       <div class="services-desc">
                           <p>
                            We are going to put our sensors to detect and respond to the presence of a flame or fire, to assure the protection of your goods.
                           </p>
                       </div>
                  
                   </div>
               </div>  
            </div>
        </div>
    </div>
</div>